@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: #393c41;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@keyframes animateDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}

.xMark {
    font-size: 25px;
    cursor: pointer;
    margin-left: 230px;
}

.hamburger {
    font-size: 20px;
    cursor: pointer;
}